node_modules/
dist/
build/

.env
.env.*

.idea/
.vscode/

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

.DS_Store

"Unversioned Files"/

# Случайно скомпилированные JS-файлы рядом с TS-файлами
src/**/*.js
src/**/*.js.map
__tests__/**/*.js
__tests__/**/*.js.map